//xi-close-min x아이콘
//div(class="xi-close-min")
doctype html
html
    head
        meta(charset="UTF-8")
        title PLC_TEST
        link(href="./css/PLC.css" rel="stylesheet")
        link(href="./css/PLCMedia.css" rel="stylesheet")
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")
        //사이즈 맞추기
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    body
        .modal_background
        #wrap

            .modal
                .modal_header
                    .modal_error ERROR
                    .xi-close-min
                .modal_content
                    span 내용 
                .modal_footer
                    img(src="./img/JKR_Logo.png")
            #header
                img(src="./img/JKR_Logo.png")
                h1 PLC Connection
            #main
                .content
                    .content1
                        .current_status
                            span Connect
                            .status_light
                            span.comment
                    .content2
                        .input_data
                            label(for='IP_Address') IP Address : 
                            input#IP_Address(type='text' placeholder=' IP Address to use' value='192.168.1.89')
                        .input_data
                            label(for='Use_Port') Port : 
                            input#Use_Port(type='number' placeholder=' Port to use' value='502')
                        .input_data
                            label(for='Offset_To_PLC') Offset : 
                            input#Offset_To_PLC(type='number' placeholder=' Offset to use')
                        .input_data.comment
                            label(for='Data_To_PLC') Data to PLC : 
                            input#Data_To_PLC(type='text' placeholder=' Enter data to send')
                    .content2.readData
                        .input_data
                            label(for='receivingStartAddr') Address : 
                            input#receivingStartAddr(type='number' placeholder=' Receiving Start Address')
                        .input_data
                            label(for='receivingLen') Length : 
                            input#receivingLen(type='number' placeholder=' Receiving Length')

                .nav    
                    button#connectBtn Connecting to PLC
                    button#writeRegister write<Br>Register
                    button#writeCoil write<br>Coil
                    button#startReceivingData Start Receiving Data
                .nav2
                    button#startBtn Start
                    button#stopBtn Stop
                    button#emergencyStop Emergency Stop
            #footer
                p ------------------Data Received in Real-Time------------------
                .live_data_box 
script(src="./js/PLC_script.js")
